h1 {
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-decoration: underline;
	text-shadow: 0 0 4px black;
	padding: 0.5em 0;
}
body {
	background: url('background.jpg');
	color: white;
	width: 660px;
	margin: 0.5em auto;
}
